:root { /* variables */
    --foreground-color: #ff0083;
}

#content { /* content of the page */
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    
    color: var(--text-color);
    
    user-select: none;

    max-width: 1700px;
    margin: 0 auto;
}

#content .contentBox { /* description and timer */
    position: relative;
    max-width: 650px;
    padding-top: 10%;
}

#content .contentBox h1 { /* title */
    font-size: 72px;
    color: var(--foreground-color);
    text-transform: uppercase;
}

#content .contentBox h2 { /* subtitle */
    font-size: 30px;
    text-transform: uppercase;
}

#content .contentBox .countdown { /* boxes */
    display: flex;
    margin: 20px 0;
}

#content .contentBox .countdown .time { /* box */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--text-color);
    margin-right: 20px;
    width: 100px;
    height: 90px;
    font-weight: 600;
    padding: 10px 5px 15px;
    border-radius: 12px;
    box-shadow: 4px 4px 10px #4b4749 inset;
}

#content .contentBox .countdown .time span { /* box label */
    margin-top: -10px;
    font-size: 20px;
    font-weight: 600;
    color: #3f325c;
}

#content .contentBox a { /* time */
    position: relative;
    margin-top: -12px;
    display: inline-block;

    font-size: 35px;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 10px;

    color: var(--foreground-color);
    font-family: Verdana, sans-serif;
}

#content .imageBox { /* image */
    max-width: 500px;
    width: 100%;
    margin-top: 15px;
}

@media(max-width: 1250px) { /* image below text and boxes */
    #content { 
        display: grid;
    }
}

@media(max-width: 700px) { /* center content */
    #content {
        text-align: center;
        margin: 32px;
    }

    #content .imageBox {
        margin: 0 auto;
    }

    #content .contentBox .countdown {
        justify-content: center;
    }
}

@media(max-width: 560px) { /* remove image */
    #content .contentBox {
        display: contents;
    }
    
    #content .imageBox {
        display: none;
    }
}