#content { /* content width and position center */
    max-width: 1200px;
    width: 80%;
    margin: 20px auto;
    padding: 0 15px;
}

/* CARD */
#content .card {
    float: left;
    padding: 30px 30px;
    max-width: 640px;
    margin-top: 8%;

    user-select: none;
}

#content .card h1 { /* title */
    font-size: 72px;
    color: var(--foreground-color-2);
    text-transform: uppercase;
}

#content .card h2 { /* subtitle */
    font-size: 30px;
    color: var(--text-color);
    text-transform: uppercase;
}

#content .card .countdown { /* boxes */
    display: flex;
    margin: 20px 0;
}

#content .card .countdown .above, 
#content .card .countdown .below {
    display: flex;
}

#content .card .countdown .time { /* box */
    width: 100px;
    height: 90px;
    margin-right: 20px;
    padding: 10px 5px 15px;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    background: var(--text-color);
    border-radius: 12px;
    box-shadow: 4px 4px 10px #4b4749 inset;
    font-weight: 600;
}

#content .card .countdown .time span { /* box label */
    margin-top: -10px;
    
    font-size: 20px;
    font-weight: 600;
    color: #3f325c;
}

#content .card .countdown .time p { /* time */
    margin-top: -12px;
    padding: 15px 35px;
    
    font-size: 35px;
    color: var(--foreground-color);
    font-family: Verdana, sans-serif;
}

/* IMAGE */
#content .image { /* image */
    float: right;
    max-width: 500px;
    width: 100%;
}

/* SMALLER DEVICES */
@media(max-width: 1800px) {
    #content {
        width: 95%;
        padding: 0 10px;
    }
}

@media(max-width: 1250px) {
    #content .card,
    #content .image {
        float: none;
        margin: 40px auto;
    }
    
    #content .card {
        margin-bottom: 30px;
    }
}

@media(max-width: 560px) {
    #content .card h1 {
        font-size: 50px;
    }

    #content .card h2 {
        font-size: 23px;
    }
    
    #content .card .countdown {
        display: block;
    }

    #content .card .above {
        margin-bottom: 15px;
    }

    #content .image img {
        width: 250px;
        
    }
    #content .image {
        text-align: center;
    }
}

@media(max-width: 350px) {
    #content {
        width: 100%;
        margin: 0;
    }

    #content .card {
        margin: 20px 0;
        padding: 10px 18px;

        text-align: center;
    }

    #content .card h1 {
        font-size: 40px;
    }
}