:root { /* variables */
    --foreground-color: #00d6cb;
}

#content {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 37px;
    color: var(--foreground-color);

    text-align: center;
    margin: 20px 0;
}

a {
    text-decoration: none;
}

hr {
    margin: 15px 0;
    border: none;
    border-top: 3px solid rgba(5, 210, 200, 0.5);
}