:root { /* variables */
    --foreground-color: #00d6cb;
}

#content { /* content width and position center */
    max-width: 700px;
    width: 60%;
    margin: 0 auto;
}

h1 { /* title - software name */
    font-size: 37px;
    color: var(--foreground-color);

    text-align: center;
    margin: 20px 0;
}

#content a { /* link */
    text-decoration: none;
    color: rgb(200, 200, 200);

    display: block;
    margin-top: 5px;
}

hr { /* line between two software */
    margin: 15px 0;
    border: none;
    border-top: 3px solid rgba(5, 210, 200, 0.5);
}

@media(max-width: 1200px) {
    #content {
        width: 100%;
    }
}

@media(max-width: 750px) {
    #content {
        padding: 0 10px;
    }

    h1 {
        font-size: 28px;
    }

    #content a { /* smaller font and bigger space between links */
        font-size: 24px;
        margin-top: 10px;
    }
}