@import url('https://fonts.googleapis.com/css?family=Raleway');

/* GENERAL */
:root { /* variables */
    --background-color: rgb(58, 58, 70); 
    --background-color-2: rgb(1, 48, 81);

    --highlight-color: rgb(14, 249, 210);

    --foreground-color: #ff0083;
    --foreground-color-2: #00d6cb;

    --text-color: #fff;
    --text-color-2: rgb(200, 200, 200);
    
    --navbar-height: 65px;
}

* { /* all elements */
    font-family: 'Raleway', Verdana, sans-serif;
    font-size: 26px;
    color: var(--text-color-2);

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { /* full device height will be used */
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(to bottom, var(--background-color), var(--background-color-2));
    background-attachment: fixed;
    overflow-x: hidden;
}

/* NAVIGATION BAR */
nav {
    height: var(--navbar-height);

    user-select: none;
}

.card {
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-right: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: .6s;
}

#content .card {
    overflow: hidden;
}

#content .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}

.card:hover {
    background-color: rgba(50, 50, 50, 0.1);
    transition: .6s;
}

nav #navbarContent {
    height: 100%;
    max-width: 1700px;
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* LOGO */
nav #navbarContent #logo {
    display: flex;
    margin-right: 30px;
}

nav #navbarContent #logo #companyName {
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 3px 3px 3px var(--highlight-color);
    text-decoration: none;
    color: var(--text-color);

    padding-bottom: 8px;
}

nav #navbarContent #logo img {
    padding-left: 8px;
    padding-top: 7px;
}

/* LIST OF ELEMENTS IN THE NAVIGATION BAR */
nav #navbarContent ul {
    height: 100%;
    
    list-style: none;

    display: flex;
}

/* ELEMENT */
nav #navbarContent ul li { /* element */
    height: 100%;
    width: 170px;

    border-bottom: 4px solid var(--background-color);
}

nav #navbarContent ul #active { /* the selected element, because this page is opened currently */
    color: rgba(14, 249, 210, 0.9);
    
    border-bottom: 4px solid var(--highlight-color);
}

nav li:after { /* element animation (bottom-border) */
    display: block;
    content: '';
    border-bottom: 4px solid rgba(14, 249, 210, 0.6);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

nav li:hover:after {  /* element animation (bottom-border) */
    transform: scaleX(1);
}

nav #navbarContent ul li a { /* label of the elements */
    height: 100%;
    
    color: var(--text-color);
    font-size: 28px;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* OPEN NAVIGATION BAR-BUTTON (toggle button) */
nav #navbarContent input[type="checkbox"] { /* checkbox for the toggle button is not visible */
    display: none;
}

.toggle_button {
    width: 30px;
    height: 23px;
   
    position: absolute;
    top: 21px;
    right: 25px;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    user-select: none;
    cursor: pointer;
}

/* three lines inside the button */
.toggle_button span {
    height: 4px;
    width: 33px;

    background: var(--text-color);
    border-radius: 6px;
	
	transform-origin: 0 0;
	transition: 0.4s;
}

/* toggle_button animation */
.toggle_button:hover span:nth-child(2) {
	transform: translateX(10px);
	background-color: var(--highlight-color);
}

.toggle_button.is-active span:nth-child(1) {
	transform: translate(0px, -2px) rotate(45deg);
}

.toggle_button.is-active span:nth-child(2) {
	opacity: 0;
	transform: translateX(15px);
}

.toggle_button.is-active span:nth-child(3) {
	transform: translate(-2px, 3px) rotate(-45deg);
}

.toggle_button.is-active:hover span {
	background-color: var(--highlight-color);
}

/* PAGE CONTENT */
#content {
    position: relative;
}

.space { /* space between last card and page bottom */
    padding-bottom: 10px;
}

/* SMALLER DEVICES */
@media(max-width: 1500px) {
    /* OPEN MENU-BUTTON */
    .toggle_button {
        display: flex;
    }

    /* LOGO */
    nav #navbarContent #logo {
        left: 15px;
        position: absolute;
    }
    
    /* LIST OF ELEMENTS IN THE NAVIGATION BAR */
    nav #navbarContent ul {
        height: min-content;
        display: block;
        position: absolute;
        top: var(--navbar-height);
        width: 80%;
        padding: 2px 15px;
        margin: 0px 0;

        border: 2px solid rgba(255, 255, 255, 0.25);
        border-right: 2px solid rgba(255, 255, 255, 0.1);
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    
        background: linear-gradient(rgb(64, 75, 92), rgb(39, 58, 83));
        border-radius: 10px;
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
        
        transform: translateY(-22em);
        transition: 1.5s;
    }

    #toggle_button:checked ~ ul { /* toggle button is clicked */
        transform: rotateY(0);
        transition: 1.5s;
    }

    nav #navbarContent ul li {
        height: 55px;
        margin-bottom: 10px;
        width: 100%;

        border-bottom: 4px solid rgb(179, 179, 179);
    }
    
    nav #navbarContent ul #active a {
        color: var(--highlight-color);
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 30px;
    }
}

@media(max-width: 360px) {
    /* LOGO - IMAGE */
    nav #navbarContent #logo img {
        display: none; /* not vivisble */
    }

    nav #navbarContent {
        margin: 0 auto;
    }
}

@media(max-width: 320px) {
    /* logo - smaller */
    nav #navbarContent #logo {
        left: 5px;
    }

    nav #navbarContent #logo #companyName {
        font-size: 35px;
        text-shadow: 1px 1px 3px var(--highlight-color);
        
        padding-top: 9px;
    }
}