#content { /* content of the page */
    align-items: center;
    text-align: center;
    justify-content: center;
}

#content h1 {
    font-size: 35px;
    color: var(--foreground-color);
    
    margin-bottom: 10px;
}

@media(max-width: 370px) {
    #content .card img { /* image smaller */
        width: 200px;
    }
}