@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
    box-sizing: border-box;
    font-family: Raleway;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: default;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    color: whitesmoke;
    height: 60px;
}

.logo {
    font-size: 2.5rem;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.3rem;
    padding-top: 0.5rem;
}

.toggle-button {
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 7px 13px;
    text-align: center;
    border-radius: 5px;
}

.navbar-links li:hover {
    border-radius: 5px;
    background-color: #238776;
    transition: 0.5s ease-in;
}

.active {
    background-color: #238779;
}

.title {
    text-align: center;
    margin: 20px;
    padding: 0;
    color: cadetblue;
    font-size: 2.5rem; 
}

@media all and (max-width: 1050px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        background-color: darkseagreen;
        display: none;
        width: 100%;
        
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        width: 100%;
        text-align: center;
    }

    .navbar-links ul li a {
        padding-top: .5rem;
        width: 100%;
    }

    .navbar-links.active {
       display: flex;
    }
    
    .title {
        font-size: 2rem;
        margin: 10px;
    }
}